@charset "utf-8";
:root {
  --XS: 10px;
  --S: 20px;
  --M: 40px;
  --L: 60px;
  --XL: 80px;
  --XXL: 120px;
  --en: "Lora", serif;
  --black: #4c4c49;
  --purple: #6b6ba4;
  --gray: #e8e8e8;
  --cream: #f1efe4;
  --kahki: #a4a46b;
  --white: #fffffd;
  --15: 0.9375rem;
  --18: 1.125rem;
  --20: 1.25rem;
  --36: 2.25rem;
}
/*                     共通項目
--------------------------------------------------------*/
section {
  margin-top: var(--L);
  margin-bottom: var(--XXL);
  text-align: center;
}
body {
  color: var(--black);
  background-color: var(--cream);
  font-family: "Noto Serif JP", serif;
  overflow-x: hidden;
  /*background-image: url(../images/back3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
	background-attachment: fixed;
	z-index: -1;*/
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
.wrap {
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
}
.en {
  font-family: var(--en);
  font-style: italic;
}
.map {
  filter: grayscale(100%);
}
.crumbList {
  font-size: clamp(14px, 3vw, 15px);
  margin-top: 10vh;
  margin-bottom: var(--M);
  display: flex;
  list-style: none;
  padding-left: 10px;
}
.crumbList li:not(:last-of-type)::after {
  content: "/";
  margin: 0.6rem;
}
.crumbList li a {
  color: var(--black);
  transition: 0.5s;
}
.crumbList li a:hover {
  color: var(--purple);
}

.circle__reserve,
.circle__txt {
  opacity: 0;
  visibility: hidden;
}
/*								ローディング
--------------------------------------------------------*/
.loading__page {
  background-color: var(--gray);
  position: fixed;
  z-index: 999;
  inset: 0;
  width: 100%;
  height: 100%;
}
.loading__pageBox {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading__page.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading__pageImg {
  width: 70px;
  opacity: 0;
  animation: loadPage 2.5s infinite;
}
.loading__pageImg:nth-of-type(1) {
  animation-delay: -0.32s;
}
.loading__pageImg:nth-of-type(2) {
  margin: 0 5px;
  animation-delay: -0.16s;
}
.loading__pageImg:nth-of-type(3) {
  animation-delay: 0s;
}
.loading__text {
  font-size: 20px;
  position: absolute;
  z-index: 9999;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading__text span {
  display: inline-block;
  animation: loadPage 2.5s infinite;
}
.loading__text span:nth-child(1) {
  animation-delay: -0.96s;
}
.loading__text span:nth-child(2) {
  animation-delay: -0.8s;
}
.loading__text span:nth-child(3) {
  animation-delay: -0.64s;
}
.loading__text span:nth-child(4) {
  animation-delay: -0.48s;
}
.loading__text span:nth-child(5) {
  animation-delay: -0.32s;
}
.loading__text span:nth-child(6) {
  animation-delay: -0.16s;
}
.loading__text span:nth-child(7) {
  animation-delay: 0;
}
@keyframes loadPage {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*                ハンバーガーメニュー
--------------------------------------------------------*/
.hamburger {
  position: absolute;
  top: 2.5vh;
  right: 5%;
  width: 46px;
  z-index: 9999;
}
.hamburger span {
  position: relative;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--black);
  display: block;
  transition: ease 0.5s;
}
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  margin: 8px 0;
}
.hamburger span:nth-child(3) {
  top: 0;
}
.header__nav.is--active {
  transform: translateX(0%);
  opacity: 1;
}
.hamburger.is--active span {
  background-color: var(--cream);
}
.hamburger.is--active span:nth-child(1) {
  top: 5px;
  rotate: 45deg;
}
.hamburger.is--active span:nth-child(2) {
  opacity: 0;
}
.hamburger.is--active span:nth-child(3) {
  top: -17px;
  rotate: -45deg;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 10vh;
  text-align: center;
}
.header__nav {
  width: 100vw;
  height: 100lvh;
  background-color: var(--kahki);
  color: var(--cream);
  transform: translateX(100%);
  opacity: 0.4;
  transition: 0.5s;
}
.header__navList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "areaA areaA"
    "areaB areaC"
    "areaD areaE"
    "areaF areaG";
  list-style: none;
  padding-top: 6vh;
  margin-bottom: var(--S);
}
.header__navItem {
  border-bottom: 1px solid var(--cream);
}
.header__navItem:nth-of-type(2n) {
  border-right: 1px solid var(--cream);
}
.header__navItem a {
  text-decoration: none;
  color: var(--cream);
  font-size: 28px;
  display: inline-block;
  width: 100%;
  padding: var(--S) 0;
}
.header__navItem a span {
  font-size: 1rem;
}
.navItem1 {
  grid-column: 1 /2;
  grid-area: areaA;
  text-align: center;
}
.header__snsnavTitle {
  font-size: 28px;
}
.header__snsnavlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
}
.header__snsnavlist li {
  text-align: center;
  border-top: 1px solid var(--cream);
  border-bottom: 1px solid var(--cream);
}
.header__snsnavlist li:nth-of-type(2) {
  border-right: 1px solid var(--cream);
  border-left: 1px solid var(--cream);
}
.header__snsnavlist li a {
  display: inline-block;
  width: 100%;
  padding: var(--S) 0;
}
.header__snsnavlist li a,
.header__navItem a {
  transition: 0.5s;
}
.copyLight.headerCopy {
  display: inline-block;
  padding: var(--S) 0;
}
.copyLight.headerCopy a {
  color: var(--cream);
}
.header__snsnavlist li a:hover,
.header__navItem a:hover {
  background-color: hsl(60, 35%, 46%);
}
/*                 index.html 共通項目
--------------------------------------------------------*/
.top__title {
  font-size: clamp(20px, 3vw, 32px);
  margin-bottom: var(--S);
  padding: 0 2rem;
  font-style: italic;
}
.top__text {
  margin-bottom: var(--S);
  font-size: clamp(16px, 3vw, 18px);
}
.top__text._wrap {
  max-width: 800px;
  margin: 0 auto var(--S) auto;
}
.top__title.titleBg {
  position: relative;
}
.top__title.titleBg1::before,
.about__title.titleBg1::before {
  content: "About Us";
  font-size: 2em;
  color: #a4a46b;
  opacity: 0.3;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.top__title.titleBg2::before {
  content: "Menu";
  font-size: 2.5em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.top__title.titleBg3:before {
  content: "Our team";
  font-size: 2em;
  color: #a4a46b;
  opacity: 0.3;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.top__title.titleBg4::before {
  content: "Access";
  font-size: 2.5em;
  color: var(--white);
  opacity: 0.8;
  position: absolute;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.top__title.titleBg5::before {
  content: "Reserve";
  font-size: 2.5em;
  color: var(--white);
  opacity: 0.8;
  position: absolute;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
/*            footer
--------------------------------------------------------*/
.footer__box {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
}
.footer__linkBox {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.footer__linkList li {
  width: 50%;
}
.footer__linkList li a,
.footer__snslinkList li a {
  text-decoration: none;
  color: var(--black);
  font-size: var(--15);
  transition: all 0.5s;
}
.footer__linkList li a:hover,
.footer__snslinkList li a:hover,
.copyLight a:hover {
  border-bottom: 1px solid var(--black);
  color: var(--purple);
}
.footer__snslinkList li,
.footer__linkList li {
  list-style: none;
  margin-bottom: 10px;
}
.footer__listTitle {
  margin-bottom: 10px;
  font-weight: bold;
}
.copyLight {
  padding: var(--S) 0;
  margin: 0 1em;
}
.copyLight a {
  list-style: none;
  color: var(--black);
  text-decoration: none;
}
/*                  index.html top
--------------------------------------------------------*/
.topView {
  height: 100vh;
  margin-top: var(--S);
}
#topView__title {
  font-family: var(--en);
  margin: var(--L) 0;
  font-size: 28px;
  opacity: 0;
}
.topView__title {
  animation: TopFadeUp 2.5s 7s forwards;
}
.topView__title_Re {
  animation: TopFadeUp 2.5s 2s forwards;
}
.topView__itemBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6px;
}
#topView__items {
  width: clamp(60px, 20%, 180px);
  opacity: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
}
.topView__item:nth-of-type(1) {
  animation: TopFadeDown 2.5s forwards;
  animation-delay: 5s;
}
.topView__item:nth-of-type(2) {
  animation: TopFadeUp 2.5s forwards;
  animation-delay: 5.5s;
}
.topView__item:nth-of-type(3) {
  animation: TopFadeDown 2.5s forwards;
  animation-delay: 6s;
}
.topView__item:nth-of-type(4) {
  animation: TopFadeUp 2.5s forwards;
  animation-delay: 6.5s;
}
.topView__item1 {
  animation: TopFadeDown 2.5s forwards;
  animation-delay: 0s;
}
.topView__item2 {
  animation: TopFadeUp 2.5s forwards;
  animation-delay: 0.5s;
}
.topView__item3 {
  animation: TopFadeDown 2.5s forwards;
  animation-delay: 1s;
}
.topView__item4 {
  animation: TopFadeUp 2.5s forwards;
  animation-delay: 1.5s;
}
#topView__items:nth-of-type(2n) {
  margin-top: var(--M);
}
.topView__item.is-none {
  animation-delay: 0;
}
@keyframes TopFadeUp {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes TopFadeDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}
/*               スクロールハサミアニメーション
--------------------------------------------------------*/
.topView__scroll {
  position: relative;
  width: 30px;
  display: inline-block;
  margin-top: 10vh;
}
.topView__scrollItem {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 0;
  left: 0;
}
.scroll-left {
  transform: rotate(-14deg) translate(-5px, 0px);
  animation: scrollLeft 1.8s infinite;
}
.scroll-right {
  transform: rotate(14deg);
  animation: scrollRight 1.8s infinite;
}
@keyframes scrollLeft {
  0% {
    transform: rotate(-14deg) translate(-5px, 0px);
  }
  20% {
    transform: rotate(0deg) translate(-5px, 0px);
  }
  30% {
    transform: rotate(-14deg) translate(-5px, 0px);
  }
  40% {
    transform: rotate(0deg) translate(-5px, 0px);
  }
  100% {
    transform: rotate(0deg) translate(-5px, 0px);
  }
}
@keyframes scrollRight {
  0% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.topView__scrollText {
  margin-top: var(--L);
  font-family: var(--en);
  position: relative;
}
.topView__scrollText::after {
  content: "";
  height: 2em;
  width: 1px;
  background-color: #262626;
  position: absolute;
  top: 1.25em;
  left: 50%;
  animation: scrolldown 1.5s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes scrolldown {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
/*
/*index.html 
--------------------------------*/
.top__forOther .top__title {
  display: inline-block;
  padding: 0 6px;
  background: linear-gradient(transparent 60%, rgba(107, 107, 164, 0.7) 60%);
}
/* index.html about
------------------------------------------------------------*/
.whiteBg {
  background-color: var(--white);
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  padding-top: var(--M);
  padding-bottom: var(--M);
}
/*            index.html pageLink
------------------------------------------------------------*/
.top__pageLink {
  font-size: clamp(16px, 3vw, 20px);
  text-decoration: none;
  color: var(--black);
  border-bottom: 3px solid var(--purple);
  position: relative;
  display: inline-block;
  margin-left: 25px;
  transition: all 0.5s;
}
.top__pageLink::before {
  content: "";
  position: absolute;
  top: 14.5px;
  left: -19px;
  width: 10px;
  height: 15px;
  border-top: 1px solid var(--black);
  transform: rotate(45deg);
}
.top__pageLink::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -25px;
  width: 20px;
  height: 15px;
  border-bottom: 1px solid var(--black);
}
.top__pageLink:hover {
  color: var(--purple);
  border-bottom: 3px solid var(--black);
}

/*            index.html menu
------------------------------------------------------------*/
.top__menuContent,
.top__staffContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top__menuImg {
  width: 50%;
  position: relative;
  z-index: 0;
  box-shadow: 10px 10px 0 rgba(107, 107, 164, 0.4);
  margin-bottom: var(--M);
}
.top__menuText {
  background-color: var(--gray);
  width: 90%;
  margin: 0 auto;
  font-size: clamp(16px, 3vw, 18px);
}
.top__menuText h3 {
  font-size: clamp(20px, 3vw, 24px);
  font-weight: normal;
  margin-bottom: var(--S);
  padding-top: var(--S);
}
.top__menuText p {
  margin-bottom: var(--S);
  margin-left: 1em;
  margin-right: 1em;
  font-size: clamp(16px, 3vw, 18px);
}
.top__menuLink {
  background-color: var(--white);
  text-decoration: none;
  color: var(--black);
  position: relative;
  display: inline-block;
  padding: 10px 20px 10px 30px;
}
.top__menuLink::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 11px;
  width: 10px;
  height: 15px;
  border-top: 1px solid var(--black);
  transform: rotate(45deg);
}
.top__menuLink::after {
  content: "";
  position: absolute;
  top: 12.5px;
  left: 4px;
  width: 20px;
  height: 15px;
  border-bottom: 1px solid var(--black);
}
.top__menuLink,
.top__menuLink::after,
.top__menuLink::before {
  transition: 0.8s;
}
.top__menuLinkbox {
  text-align: right;
}
.top__menuLink:hover {
  background-color: var(--purple);
  color: var(--white);
}
.top__menuLink:hover::after {
  border-bottom: 1px solid var(--white);
}
.top__menuLink:hover::before {
  border-top: 1px solid var(--white);
}
/*            index.html staff
------------------------------------------------------------*/
.top__staffContent img {
  max-width: 50%;
  box-shadow: 10px 10px 0 rgba(107, 107, 164, 0.4);
  margin-bottom: var(--M);
}
/*            index.html access
------------------------------------------------------------*/
.top__accessBox {
  display: flex;
  flex-direction: column;
}
.top__accessList {
  list-style: none;
  text-align: left;
  margin-left: 1em;
  margin-bottom: var(--M);
}
.top__accessList li {
  margin-bottom: 6px;
}
/*            index.html 
------------------------------------------------------------*/
.top__reserveText {
  margin-bottom: var(--S);
}
.top__btnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top__btnBox button {
  margin-top: var(--M);
  background-color: #a4a46b;
  color: #f1efe4;
  padding: 1em 0.8em;
  border-radius: 5px;
  font-size: clamp(15px, 3vh, 16px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.top__btnBox button:active {
  box-shadow: none;
}
.top__btnBox button span {
  margin-left: 0.5em;
}
.top__reserve {
  margin-bottom: var(--XL);
}
.top__btnBox button:hover {
  animation: shine 1.5s;
}
@keyframes shine {
  0% {
    background: #a4a46b;
  }
  10% {
    background: #ccc;
  }
  100% {
    background: #a4a46b;
  }
}
/* 下層共通
------------------------------------------------------------*/
.lower__title {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: clamp(18px, 3vw, 24px);
}
.lower__main {
  animation: opa 1.5s;
}
/* about.html
------------------------------------------------------------*/
.about__title::before {
  content: "About Us";
  font-size: 2em;
  color: var(--white);
  opacity: 0.8;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.about__img {
  width: min(50%, 300px);
  margin-bottom: var(--S);
}
.about__subTitle {
  margin-bottom: var(--S);
  font-weight: bold;
  font-size: clamp(16px, 3vw, 24px);
}
.about__contentBox {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
}
.about__bottomText {
  max-width: 900px;
  font-size: clamp(16px, 3vw, 18px);
  margin: var(--L) auto;
}
.about__textBox {
  max-width: 600px;
  margin: 0 1em;
}
.about__textBox p {
  text-align: left;
}
.top__pageLink._about {
  margin-top: var(--S);
}
/* menu.html
------------------------------------------------------------*/
.menu__title::before {
  content: "Menu";
  font-size: 2.5em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.menu__txtBox {
  text-align: left;
  margin: 0 1em;
  max-width: 900px;
}
.menu__txtBoxTitle {
  font-size: clamp(24px, 3vw, 28px);
  font-weight: bold;
  margin-bottom: var(--XS);
}
.menu__time {
  margin: var(--XS) 0 var(--M) var(--M);
}
.menu__priceList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 50%;
  margin: 0 auto;
}
.menu__priceList dt,
.menu__priceList dd {
  margin-bottom: var(--XS);
  text-align: left;
  border-bottom: 1px dashed #ccc;
}
.menu__priceList dt {
  width: 60%;
}
.menu__priceList dd {
  width: 40%;
}
.menu__priceList .border-none {
  border-bottom: none;
}
/*メニューモーダル
------------------------------------------------------*/
.modal-btn {
  cursor: pointer;
  border-bottom: 2px solid var(--purple);
  color: var(--purple);
  transition: all 0.3s;
}
.modal-btn:hover {
  color: var(--black);
  border-bottom: 2px solid var(--black);
}
.modal-containerExam {
  background: #f1f1f1;
  text-align: center;
  height: 100%;
}
.menuModal-content {
  background: #fff;
  padding: 2em;
  width: 90%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: show 0.6s linear 0s;
  filter: drop-shadow(0px 2px 6px #777);
  font-size: clamp(15px, 3vw, 16px);
}
/* staff.html
------------------------------------------------------------*/
.staff__title::before {
  content: "Our Team";
  font-size: 1.75em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.staff__titleText {
  margin-top: var(--XS);
  text-align: center;
}
.staff__sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: var(--L) 1em;
  gap: var(--M);
}
.staff__contentBox {
  width: calc(100% / 2 - 5%);
}
.staff__contentBox img {
  margin-bottom: var(--XS);
  width: max(50%, 300px);
  cursor: pointer;
  transition: 0.3s;
}
.staff__contentBox img:hover {
  opacity: 0.7;
}
.staff__contentBox .alf {
  font-size: 0.8rem;
}

/*modal.js
------------------------------------------------------------*/
.modal {
  display: none;
  position: fixed;
  z-index: 8887;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 1s ease-in-out;
}
.modal-container {
  text-align: center;
}
.modal-container .img {
  background: var(--white);
  width: 50%;
  margin-bottom: 15px;
}
.modal-container p {
  margin-bottom: 10px;
  width: 70%;
  margin: 10px auto;
}
.modal-container p:last-child {
  margin-bottom: 0;
}
.modal-content {
  background: #fff;
  padding: 1em;
  width: 90%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: show 0.6s linear 0s;
  filter: drop-shadow(0px 2px 6px #777);
  font-size: clamp(15px, 3vw, 16px);
}
.modal-top {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
}
.modal-close {
  color: var(--black);
  text-decoration: none;
  font-size: 2rem;
  line-height: 1;
  padding: 0 8px;
}
.modal-close:hover,
.modal-close:focus {
  text-decoration: none;
  cursor: pointer;
}
.modal-title {
  color: #fff;
}
.modal-comment {
  text-align: left;
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* access.html
------------------------------------------------------------*/
.access__title::before {
  content: "Access";
  font-size: 2.5em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
/* recruit.html
------------------------------------------------------------*/
.recruit__title::before {
  content: "Recruit";
  font-size: 2.5em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.recruit__subTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: var(--M);
}
.recruit__topSec,
.recruit__lowerSec {
  margin-left: 1em;
  margin-right: 1em;
}
.recruit__listBox {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.recruit__listBox dt {
  width: 30%;
}
.recruit__listBox dd {
  width: 60%;
}
.recruit__listBox dt,
.recruit__listBox dd {
  border-bottom: 1px dashed #ccc;
  margin-bottom: var(--XS);
}
.recruit__lowerSec {
  text-align: left;
}
.recruit__lowerSecTitle {
  font-weight: bold;
  margin-bottom: var(--XS);
}
/* recruit.html
------------------------------------------------------------*/
.privacy__title::before {
  content: "Privacy";
  font-size: 2.5em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -110%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.privacy__sec {
  margin-left: 1em;
  margin-right: 1em;
}
.privacy__sec h2 {
  font-size: clamp(16px, 3vw, 22px);
  font-weight: bold;
  margin-bottom: var(--M);
}
.privacy__sec h3 {
  margin-top: var(--M);
  margin-bottom: var(--S);
  text-align: left;
}
.privacy__sec p {
  text-align: left;
}
/* donation.html
------------------------------------------------------------*/
.donation__title::before {
  content: "For other";
  font-size: 2em;
  color: var(--white);
  position: absolute;
  opacity: 0.8;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.donation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--L);
}
.donation__list img {
  margin-bottom: var(--XS);
  width: min(50%, 300px);
}
.donation__subTitle {
  margin-bottom: var(--S);
  font-size: clamp(18px, 3vw, 24px);
}
.donation__txt {
  margin-bottom: var(--M);
  text-align: left;
}
.donation__txtBox {
  max-width: 600px;
  margin: 0 auto;
}
.donation__eventBox {
  background-color: var(--white);
  display: inline-block;
  margin-bottom: var(--M);
  line-height: 2;
  padding: 2em;
}

/* reserve.html
------------------------------------------------------------*/
.reserve__box {
  margin: 20vh auto;
}
/*OPENING　アニメーション
-------------------------------------------------*/
.top {
  width: 100%;
  height: 60vh;
  background-color: #ccc;
  position: relative;
  animation: top 1.5s 4s forwards, vis 3s 4s forwards;
}
.top::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #fff;
  animation: load 1s 2.5s linear forwards;
}
.loading__img {
  position: absolute;
  top: 57.75vh;
  left: 0;
  opacity: 0;
  z-index: 999;
  rotate: -180deg;
  animation: opa 2.75s linear forwards, loadImg 1.05s 2.5s linear forwards;
}
.bottom {
  width: 100%;
  height: 40vh;
  background-color: #ccc;
  animation: bottom 1.5s 4s forwards, vis 3s 4s forwards;
}
.loading__box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  animation: vis 4s 4s forwards;
}

.loading__box.loaded {
  opacity: 0;
  visibility: hidden;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  width: 50vw;
}
path {
  fill: none;
  stroke: #000;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke-width: 0.5;
  animation: handwriting 2s ease-in forwards, vis 1.5s 2.5s forwards;
}

/*opening アニメーション keyframes
-------------------------------------------------*/
@keyframes handwriting {
  0% {
    fill: transparent;
    stroke-dashoffset: 2000;
  }
  50% {
    fill: transparent;
  }
  100% {
    fill: #000;
    stroke-dashoffset: 0;
  }
}
@keyframes vis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loadImg {
  100% {
    transform: translateX(-100vw);
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes top {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    height: 0;
  }
}
@keyframes bottom {
  80% {
    transform: translateY(100vh);
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: 0;
  }
}
/*js
------------------------------------------*/
.fadeInUp {
  opacity: 0;
  transform: translateY(40px);
  transition: 1.5s;
}
.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (min-width: 767px) {
  /*index.html
	-----------------------------------*/
  .top__menuContent,
  .top__staffContent {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 2%;
  }
  .top__staffContent {
    flex-direction: row-reverse;
  }
  .top__staffContent img {
    justify-self: flex-start;
    width: 40%;
  }
  .top__menuText {
    margin-left: 5%;
    align-self: center;
  }
  .top__accessBox {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    max-width: 1080px;
    margin: 0 auto;
  }
  .top__accessList {
    align-self: center;
  }
  .map iframe {
    width: 500px;
  }
  .footer__linkBox {
    flex-wrap: nowrap;
    gap: 30px;
  }
  .footer__linkList li {
    width: 100%;
  }
  /* about.html
	-----------------------------------*/
  .about__contentBox {
    flex-direction: row-reverse;
  }
  .about__contentBox._left {
    flex-direction: row;
  }
  .about__contentBox > .about__textBox {
    margin-left: 20px;
  }
  .about__contentBox._left > .about__textBox {
    margin-right: 20px;
  }
  /* donation.html
	-----------------------------------*/
  .donation__list {
    flex-direction: row;
    justify-content: space-evenly;
  }
  /*↑レスポンシブ対応
	------------------------------------------------------*/
  /*↓リザーブボタン
	--------------------------------------------------------*/
  .circle {
    opacity: 0;
    transition: 0.5s;
  }
  .circle__reserve,
  .circle__txt {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }
  .circle__txt {
    position: fixed;
    z-index: 1;
    bottom: 5%;
    right: 3%;
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    margin: 0;
    transform: rotate(-80deg);
    animation: circle 13s infinite linear;
  }
  .circle__txt span {
    position: absolute;
    top: 0;
    left: calc(50% - 15px);
    display: inline-block;
    width: 30px;
    height: 75px;
    transform-origin: center bottom;
  }
  .circle__txt span:nth-child(1) {
    transform: rotate(0);
  }
  .circle__txt span:nth-child(2) {
    transform: rotate(22.5deg);
  }
  .circle__txt span:nth-child(3) {
    transform: rotate(45deg);
  }
  .circle__txt span:nth-child(4) {
    transform: rotate(67.5deg);
  }
  .circle__txt span:nth-child(5) {
    transform: rotate(90deg);
  }
  .circle__txt span:nth-child(6) {
    transform: rotate(112.5deg);
  }
  .circle__txt span:nth-child(7) {
    transform: rotate(135deg);
  }
  .circle__txt span:nth-child(8) {
    transform: rotate(157.5deg);
  }
  .circle__txt span:nth-child(9) {
    transform: rotate(180deg);
  }
  .circle__txt span:nth-child(10) {
    transform: rotate(202.5deg);
  }
  .circle__txt span:nth-child(11) {
    transform: rotate(225deg);
  }
  .circle__txt span:nth-child(12) {
    transform: rotate(247.5deg);
  }
  .circle__txt span:nth-child(13) {
    transform: rotate(270deg);
  }
  .circle__txt span:nth-child(14) {
    transform: rotate(292.5deg);
  }
  .circle__txt span:nth-child(15) {
    transform: rotate(315deg);
  }
  .circle__txt span:nth-child(16) {
    transform: rotate(337.5deg);
  }
  .reserve__btn p {
    position: absolute;
    inset: 0;
    font-size: clamp(14px, 3vw, 15px);
  }
  @keyframes circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .circle__reserve {
    position: fixed;
    z-index: 99;
    bottom: 5%;
    right: 3%;
    width: 150px;
    height: 150px;
    font-size: 15px;
    text-align: center;
    margin: 0;
  }
  .circle__reserve a {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    padding: 2em 0;
    width: 80%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-decoration: none;
    color: #262626;
  }
}
